<div class="container w-100">
    

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Olá sejam bem vindos(as) ao blog dos main Aurelion Sol</h1>

        </div>
        <div>

        </div>
        <div class="row w-100 mt-4 mb-4">
            <div class="col-md-12"></div>
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem fugit odio corrupti fuga natus dolores
                officiis dolore. Iusto natus, alias nemo, dolorem odit necessitatibus recusandae ipsam autem quia
                officia
                at?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni voluptate, repudiandae ratione minus
                perspiciatis veniam asperiores. Quod voluptatem, cupiditate libero sapiente quas impedit rem possimus
                sit,
                vel perferendis veniam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit tempore nam, quos officia maiores vel
                odio
                alias aperiam soluta, numquam nostrum, beatae iure velit ipsam veniam voluptas consequatur voluptatibus
                exercitationem!
            </p>
        </div>
    </div>
</div>
<div class="parallax"> </div>

<div class=" w-100 row mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>