.parallax {
  background-image: url('https://ddragon.leagueoflegends.com/cdn/img/champion/splash/AurelionSol_0.jpg');

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}